node_modules
vendor
.git
.idea
.vscode
.junie
.aiassistant
.ai
storage/*.key
/public/build
/bootstrap/ssr
/storage/app/public/*
/.env
/.env.*
/tmp/*
/node_modules
/vendor
npm-debug.log
yarn-error.log
.phpunit.result.cache
