{$APP_DOMAIN},{$APP_DOMAIN_WWW} {
    @www host {$APP_DOMAIN_WWW}
    redir @www https://{$APP_DOMAIN}{uri} permanent

    root * /var/www/html/public
    encode zstd gzip
    php_fastcgi app:9000
    file_server
}
