{$APP_DOMAIN}, *.{$APP_DOMAIN}, {$APP_DOMAIN_WWW}, {$APP_DOMAIN_SECONDARY}, *.{$APP_DOMAIN_SECONDARY} {
    tls {
        dns hostinger {env.HOSTINGER_API_TOKEN}
        dns_ttl 60s
    }

    @www host {$APP_DOMAIN_WWW}
    redir @www https://{$APP_DOMAIN}{uri} permanent

    root * /var/www/html/public
    encode zstd gzip
    header /build/assets/* Cache-Control "public, max-age=31536000, immutable"
    php_fastcgi app:9000
    file_server
}

{$ENNEAGRAM_DOMAIN_PL}, {$ENNEAGRAM_DOMAIN_EN} {
    tls {
        dns hostinger {env.HOSTINGER_API_TOKEN}
        dns_ttl 60s
    }

    root * /var/www/html/public
    encode zstd gzip
    header /build/assets/* Cache-Control "public, max-age=31536000, immutable"
    php_fastcgi app:9000
    file_server
}
